/* Shared style */
body {
  font-family: "Poppins", sans-serif;
}
/* Shared color */
:root {
  --gray: #3a3a3a;
  --purple: #e02c6d;
  --white: #fff;
}
.gray {
  color: var(--gray);
}
.white {
  color: var(--white);
}
.purple {
  color: var(--purple);
}
/* navigation style */
.navigation {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);
}
.nav-items ul {
  display: flex;
  gap: 20px;
}
.nav-items ul > li {
  list-style: none;
}
.nav-items ul > li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--gray);
}
/* navigation end  */
/* Banner style start */
.all-about-banner {
  /* border: 2px solid rebeccapurple; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.banner-info {
  /* border: 2px solid red; */
  width: 40%;
}
.banner-title {
  color: var(--gray);
  font-size: 2.2rem;
  font-weight: 600;
}
.banner-description {
  color: var(--gray);
  font-size: 0.9rem;
}
.btn {
  padding: 16px 24px;
  gap: 8px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  background: var(--purple);
  color: var(--white);
}
.banner-img img {
  width: 80%;
  height: 80%;
}
.banner-img {
  /* border: 2px solid red; */
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
/* Banner style end */
/* companies section start*/
.all-companies {
  /* border: 2px solid red; */

  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(250, 253, 255);
}
/* companies section end */
/* All collection section start */
.all-collections {
  margin-top: 5rem;
}
.collecation-title {
  color: var(--gray);
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
}
.all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
.card {
  border-radius: 5px;
  padding: 17px 15px 16px 14px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card h1 {
  font-size: 1.8rem;
  color: var(--gray);
  font-weight: 600;
}
.price {
  font-size: 1.7rem;
  color: var(--gray);
}
.card img {
  border-radius: 5px;
  width: 100%;
}

/* All collection section End */
/* Small Devices responsive */
@media screen and (max-width: 576px) {
  .navigation,
  .nav-items ul {
    flex-direction: column;
  }
  .all-about-banner {
    flex-direction: column-reverse;
  }
  .banner-info {
    width: auto;
    text-align: center;
  }
  /* all cards */
  .all-cards {
    grid-template-columns: 1fr;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

/* FOR TABLET DEVICES */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .all-about-banner {
    flex-direction: row-reverse;
  }
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
